@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");





*{
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0;
    text-decoration: none !important;  
    

}

header{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body{
   
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
      
    
}

.navbar-brand{
    padding-left: 2rem;
}

a{
    color: black;
}

:root{
    font-size: 62.5%;
    --Very-dark-blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    --Bright-blue: hsl(224, 93%, 58%);
    --Moderate-cyan: hsl(170, 45%, 43%);
    --Light-grayish-blue: #9D9AAB;
    --Light-gray: hsl(0, 0%, 75%);
}



/* *************************header************************* */
.divLiens{
    padding-right: 25px;

}

.slika{
    background-size: cover;
}

.divImg{
    
    margin-top: 50px !important;
}

h1{
    font-size: 4rem;
    font-weight: 700;
}

.section1 p{
    font-size: 1.8rem;
    /* padding: 2rem; */
}

input{
    
    border: 1px solid black; 
    border-radius: 3px; 
    color: var(--Light-gray) !important;
    font-size: 1.8rem;
    
}

input::placeholder{
    color: var(--Light-gray);
    padding: 1.8rem;
}

.section1 button{
    background-color: var(--Bright-blue);
    color: #fff;
    font-size: 1.8rem;
    border: none;
    border-radius: 3px;
}

.section1 div:last-child{
    /* margin-top: 10px !important; */
    padding: 2rem;
}

/* section 2 */

.section2{
    margin-left: 30px !important;
    margin-top: 5rem !important;
}

.section2{
    background-image: url(/assets/img/bg-curve-desktop.svg);
    background-size: cover;
}

.section2 h2{
    
    
    font-weight: bold;
    font-size: 4rem !important;
    
}

.section2 p{
    font-weight: 700;
    font-size: 1.8rem;
    color: var(-);
    text-align: start;
    word-spacing: .5rem;
    
}


.section2 a{
    color: var(--Moderate-cyan);
    /* text-decoration: underline !important; */
    font-size: 1.5rem;
}

.section2 i{
    /* padding: ; */
    color: var(--Moderate-cyan)!important;
}

hr{
    
    color: var(--Moderate-cyan);
    height: .50rem !important;
    width: 155px !important;
    /* margin: 25px auto 30px; */
   
    
}

/* ======================image de kyle =============================== */


.laCarte{
    
    box-shadow: 1px 1px 14px 1px rgba(61,61,61,0.49);
}

.divKyle h2{
    padding: 0;
}

.carteKyle img{
    width: 50px !important;
    margin-right: 1.5rem !important;
}

.carteKyle div h2{
    font-size:1.50rem !important;
}

.carteKyle div p{
    font-size: 1rem;
}

.divKyle p{
    font-size: 1.5rem !important;
}


/* ********************section3************************ */
.section3{
    background-color: #575989;
}
.section3 button{
    background-color: var(--Bright-blue);
    color: #fff;
    font-size: 1.8rem;
    border: none;
    border-radius: 5px;
}

.section3 form input, button{
    box-shadow: 7px 6px 16px -1px rgba(0,0,0,0.5);
    border: none;
}

.section3 div h2{
    font-size: 2.5rem !important;
}

.section3 div p{
    font-size: 1.5rem !important;
    /* padding: 3rem !important; */
    font-family:open sans;
}


/* ************************footer************************ */


.footerContent a{
    font-size: 2rem;
    line-height: 3rem !important;
}

.imageFyloFooter{
    width: 25rem;
}

.infos img{
    
    margin-right: 2rem !important;
}



footer{
    background-color: var(--Very-dark-blue);
}

footer a{
    color: #fff;
}


.socialMedia i{
    background-color: #07043B;
    font-size: 3rem !important;
    /* border: 1px solid white; */
    border-radius: 50%;
    
}


/* @media screen and (max-width:1399.9) {
    .premiereSection{
        padding: 100px;
    }
} */

@media screen and(max-width:1400) {
    hr{
    
        color: var(--Moderate-cyan);
        height: .50rem !important;
        width: 155px !important;
        /* margin: 25px auto 30px; */
       
        
    }
}

@media screen and(mid-width:576) {
    hr{
    
        color: var(--Moderate-cyan);
        height: .50rem !important;
        width: 155px !important;
        /* margin: 25px auto 30px; */
       
        
    }
}