@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");





*{
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0;
    text-decoration: none !important;  
    

}

header{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body{
   
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
      
    
}

.navbar-brand{
    padding-left: 2rem;
}

a{
    color: black;
}

:root{
    font-size: 62.5%;
    --Very-dark-blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    --Bright-blue: hsl(224, 93%, 58%);
    --Moderate-cyan: hsl(170, 45%, 43%);
    --Light-grayish-blue: #9D9AAB;
    --Light-gray: hsl(0, 0%, 75%);
}



/* *************************header************************* */
.divLiens{
    padding-right: 25px;

}

.slika{
    background-size: cover;
}

.divImg{
    
    margin-top: 50px !important;
}

h1{
    font-size: 4rem;
    font-weight: 700;
}

.section1 p{
    font-size: 1.8rem;
    padding: 8rem;
}

input{
    
    border: 1px solid black; 
    border-radius: 5px; 
    padding: 4rem;
    color: var(--Light-gray) !important;
    font-size: 1.8rem;
    
}

input::placeholder{
    color: var(--Light-gray);
    padding: 1.8rem;
}

.section1 button{
    background-color: var(--Bright-blue);
    color: #fff;
    font-size: 1.8rem;
    border: none;
    border-radius: 5px;
}

.section1 div:last-child{
    margin-top: 200px !important;
    padding: 5rem;
}

/* section 2 */

.section2{
    margin-top: 5rem !important;
}

.section2 h2{
    
    padding: 2rem;
    font-weight: bold;
    font-size: 2rem !important;
}

.section2 p{
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--Light-grayish-blue);
    text-align: start;
    word-spacing: .5rem;
    
}


.section2 a{
    color: var(--Moderate-cyan);
    /* text-decoration: underline !important; */
    font-size: 1.5rem;
}

.section2 i{
    /* padding: ; */
    color: var(--Moderate-cyan)!important;
}

hr{
    
    color: var(--Moderate-cyan);
    height: .50rem !important;
    width: 17rem !important;
    /* margin: 25px auto 30px; */
    margin: 0 auto 2.5rem !important;
    
}

/* ======================image de kyle =============================== */


.imgKyle{
    
    
     
}

.divKyle h2{
    padding: 0;
}

.divKyle p{
    font-size: 1.5rem;
}
